body{
    background-image: url(pictures-20230305_224720.mp4);
    background-size: 100vw 100vh;
    background-attachment: fixed;
  }
  
  *{
    margin:0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }
  
  body{
    background: url(pictures/logo2.jpg)no-repeat;
    height: 100vh;
    background-size: cover ;
    background-position: center;
  }
  
  header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: rgba(0,0,0, 2);
    background: none;
  }
  
  .logo{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgb(0, 238, 255);
    cursor: pointer;
    border-radius: 50px;
  }
  
  .logo:hover{
    background-color: blue;
    transition: all 0.4s ease 0s;
  }
  
  nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 30px;
    color: transparent;
  }
  
  a{
    font-size:  25px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    color:rgb(0, 238, 255);
    border-radius: 50px;
    font-weight: bold;
  }
  
  button{
    font-size:  20px;
    font-weight: 600;
    cursor: pointer;
    color: none;
  }
  
  button{
  
    border: 3px solid color red;
    border-radius: 50px;
    padding: 9px 25px;
  }
  
  nav li a :hover {
    color: white;
    transition: all 0.4s ease 0s;
  }
  
  button:hover{
    background-color: blue;
    transition: all 0.4s ease 0s;
  }
  
  a:hover{
    background-color: blue;
    transition: all 0.4s ease 0s;
  }
  
  video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }